<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>My test page</title>
  </head>
  <body>
    {% if forms %}
    <ul>
    {% for form in forms %}
        <a href="{% url 'myform:createtextformview' form %}"><li>{{ form.name }}
            <br>
            {{ form.user_id }}
        </li></a>
    {% endfor %}
    {% else %}
    No forms created
    {% endif %}
    
    </ul>
    <form method="POST" action="">{% csrf_token %}
        <input type="text" name="form_name" placeholder="Form Name">
        <input type="submit" value='Create Form'>
    </form>
  </body>
</html>